body{
    margin:20px;
    background:linear-gradient(rgb(207, 207, 207),rgb(102, 102, 102));
    display:flex;
    justify-content:center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}


.divShell{
    background-color: antiquewhite;
  }
  
  H1{
    text-align: center;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
  }
  
  .container{
      width:500px;
  }
  form{
    border-radius: 20px;
    /* background-image: linear-gradient(rgb(248, 89, 89),rgb(248, 248, 94)); */
    align-self: center;
    color: rgb(0, 0, 0);
    margin: 6px;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 2px 2px 5px 5px  rgb(63, 52, 52);
  }
  input[type="number"]{
    width: 100%;
    height: 30px;
  }
  
  .amountBlock{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    
  }
  
  .aprBlock{
    text-align: center;
    font-weight: bold;
    padding: 20px;
  }
  
  .durationBlock{
    text-align: center;
    font-weight: bold;
    padding: 20px;
  }
  
  .buttonBlock{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px
  }
  
  button{
    cursor: pointer;
    position: relative;
    left: 41%;
    bottom: 25%;
    background-color: navy;
    color: white;
    padding: 5px;
    border-radius: 30px;
  }

  button:hover{
    background-color: blue;
  }

  #result{
    display: none;
    position:relative;
    top: 15px;
    left: 5px;
    border-radius: 10px;
    background: linear-gradient(rgb(142, 142, 209), rgb(34, 195, 201));
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 20px;
    width:460px;
    height:auto;
    overflow: hidden;
    box-shadow: 2px 2px 5px 5px  rgb(63, 52, 52);
  }
  #exit{
      width:30px;
      height:30px;
      cursor: pointer;
      position:relative;
      top:-105px;
      right: -440px;
      display:flex;
      justify-content: center;
      align-items: center;
    }

    #exit:hover{
      background:red;
      color: white;
    }

  #cross{
      width:2px;
      height:15px;
      background:rgb(255, 255, 255);
      transform: rotate(45deg);
      
  }
  #cross::after{
    content:"";
    width:2px;
    height:15px;
    background: rgb(253, 253, 253);
    transform: rotate(90deg);
    position: absolute;
    cursor: pointer;
}

  
  #text{
    text-align:center; 
  }

  .foot{
    position:fixed;
    left:0;
    bottom:0;
    background:black;
    width: 100vw;
  }
  footer {
    color: white;
    display: flex;
    justify-content:center;
  }

  @media only screen and (max-width: 768px)  {
    body {
      width:100%;
      height:100%;
      display: flex;
      justify-content:center;
      background-repeat: no-repeat;
      align-items:center;
      margin-top: 0;
      
      
      
    }
   .container{
    
   }
   form {
     
     width: 74%;
     width: 77%;
     position: relative;
     left: -5%;
 }
     
     
   }
   input[type="number"]{
     width: 100%;
     height: 30px;
   }
  #result {
    left:4%;
     width:74%;
     
   }
  
   .foot{
    width: 100vw;
   }
   #result #exit{
    position: absolute;
    left: 92.9%;
    top: 0%;
  }
  }